.Rubik{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
  }

.Raleway{
    font-family: 'Raleway', sans-serif;
}

.Varela-Round{
    font-family: 'Varela Round', sans-serif;
}

